@font-face {
  font-family: "Montserrat Alternates";
  src: url(./assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
  font-family: 'Avenir Next';
}

#root {
  height : 100%
}
